* {
    color-scheme: light dark;
}

@font-face {
    font-family: "MEgalopolis Extra Regular";
    src: url("https://db.onlinewebfonts.com/t/88342eb32c7e560ca5c4283463702897.eot");
    src: url("https://db.onlinewebfonts.com/t/88342eb32c7e560ca5c4283463702897.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/88342eb32c7e560ca5c4283463702897.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/88342eb32c7e560ca5c4283463702897.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/88342eb32c7e560ca5c4283463702897.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/88342eb32c7e560ca5c4283463702897.svg#MEgalopolis Extra Regular")format("svg");
}

#webPageTitle{
    text-align: center;
    font-family: "MEgalopolis Extra Regular"; 
}

#fetchCardButton {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "MEgalopolis Extra Regular",sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

#fetchCardButton:hover {
  background: #F6F9FE;
  color: #174ea6;
}

#fetchCardButton:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

#fetchCardButton:focus {
  outline: none;
  border: 2px solid #4285f4;
}

#fetchCardButton:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

#fetchCardButton:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

#fetchCardButton:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

#fetchCardButton:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

#fetchCardButton:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.inputButtonDiv{
    text-align: center;
}

#cardDescription {
    font-family: "MEgalopolis Extra Regular";
}

#cardNameInput {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 15px;
    border-radius: 25px;
    outline: none;
}
input[type="text"] {
    width: 30%;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
  }
  
  input[type="text"]:focus {
    width: 64%;
  }

#cardInfo {
    text-align: center;
}
